@import 'shared';

/* html tags */
a {
  color: inherit;
  text-decoration: none;

  &.inline-link {
    color: $color--secondary;

    &:visited {
      color: $color--secondary;
    }

    &:hover {
      color: $color--secondary-hover;
      text-decoration: underline;
    }

    &--mobile-only {
      @include breakpoint(hands) {
        pointer-events: none;
      }
    }
  }
}
body {
  text-align: center;
  color: $color--dark-gray;
  font-family: 'Ubuntu', sans-serif;
}

/* utility classes */
.bold {
  @include bold;
}
.no-wrap {
  white-space: nowrap;
}
.small {
  @include font(s);
}
.underline {
  @include underline;
}