<div class='Header'>
  <div class='Box Spread'>
    <div class='Header-buttonContainer'>
      <button class='Button Header-button' data-toggle-menu>
        Menu
      </button>
    </div>

    <div class='Header-title'>
      Ethan's Blog
    </div>
  </div>
</div>