@import '../shared';

.Footer {
  @include scut-padding(cubits(4) cubits(1));
  background-color: $color--dark-gray;
  color: $color--light-gray;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-row {
    @include scut-margin(cubits(1) n);
    @include font(s);
  }
}
