@import '../shared';

.Header {
  border-bottom: 2px solid black;

  &-buttonContainer {
    @include scut-padding(cubits(1) cubits(0.5));
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-button {
    @include scut-margin(n cubits(1));
  }

  &-title {
    @include scut-padding(cubits(1) cubits(0.5));
    @include font(m, bold);
    color: $color--primary;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
